  	<%= f.error_messages %>
	
	<table class="fields">
	  
	  <tr class="required">
	    <td><%= f.label :numero %><br /></td>
	    <td><%= f.text_field :numero %></td>
	  </tr>
	  
	  <tr class="required">
	    <td><%= f.label :nombre %></td>
	    <td><%= f.text_field :nombre %></td>
	  </tr>
	  
 	 </table>