<% title "Editando Muestra" %>

<h1><%= yield :title %></h1>

<%= form_for(@muestra) do |f| %>

  <%= render :partial => "form", :locals => {:f => f, :muestra => @muestra} %>
  
  <p>
    <button type="submit" class="blue">Actualizar</button>
	<%= button_link "Cancelar", @muestra, "gray" %>
	<%= button_link "Volver a Sitio #{@muestra.sitio.id}", @muestra.sitio, "rosy" %>
  </p>
<% end %>