<% title "Nuevo Ejemplar" %>

<h1><%= yield :title %></h1>

<%= form_for(@ejemplar, :url => ejemplares_path) do |f| %>
  
  <%= render :partial => "form", :locals => { :f => f, :ejemplar => @ejemplar } %>
  
  <p>
	<button type="submit" class="green">Crear</button>
	<% if params[:muestra_id] %>
		<%= button_link "Volver a Muestra #{@ejemplar.muestra.nombre}", @ejemplar.muestra, "rosy" %>
	<% end %>
	<% if params[:taxon_id] %>
		<%= button_link "Volver a #{@ejemplar.taxon.nombre}", @ejemplar.taxon, "rosy" %>
	<% end %>
  </p>
  
<% end %>