<% title "Seleccionar Imagen" %>

<h1><%= yield :title %></h1>

<fieldset>
	<legend>1 - Seleccione Taxon</legend>
	<%= label_tag :taxon_id %>
	<%= select_tag(:taxon_id, options_from_collection_for_select(@taxones, :id, :nombre, @taxon.id) ) %>
	<%= hidden_field_tag :ruta, seleccionar_imagen_clave_path(@clave) %>
</fieldset>

<fieldset>
	<legend>2 - Seleccione Imagen</legend>
	<div class="lista-imagenes">
		<% @taxon.imagenes.each do |imagen| %>
			<div data-imagen-id="<%= imagen.id %>">
				<%= link_to( raw(image_tag(imagen.url(:min))), asignar_imagen_clave_path(@clave, :imagen_id => imagen.id), :method => :put )%>
			</div>
		<% end %>
	</div>
</fieldset>
